.masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-gap: 16px; /* Space between the items */
}

.masonry .mItem {
  width: 100%;
  position: relative;
  padding-top: 100%; /* This creates a square by making the height equal to the width */
}

.image-container {
  position: absolute; /* Absolute positioning within the square */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Ensure any part of the image outside the square is hidden */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the square without distortion */
  transition: filter 0.3s ease;
  display: block;
}

@media (max-width: 1199px) {
  .masonry {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 767px) {
  .masonry {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid white; /* This creates the unblurred border */
  pointer-events: none; /* Ensure the border doesn't block hover interaction */
  z-index: 1;
}

.image-container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.image-container:hover img {
  filter: blur(5px) brightness(0.3); /* Apply blur and darken on hover */
}

.image-container:hover .overlay-text {
  opacity: 1;
}

#extra_text{
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  height: 6vh;            
}
